<!doctype html>
<!-- HTML page for our ASH about page -->
<html> 
    <head>
        <title>This is the Avalon Smart Home</title>
    </head>
    <body>
        <h1> Avalon Smart Home </h1>
        <h3> About us page </h3>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/adddevice">Add Device</a></li>
            <li><a href="/devicestatus">Device Status</a></li>
            <li><a href="/controldevice">Control Device</a></li>
            <li><a href="/deletedevice">Delete Device</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h4> 
            Developer Name = Rishi Sankhla <br>
            Student Number = 200102874 <br>
        </h4>
        <p>
            Project description - Avalon Smart Home (ASH) is the online platform for all your smart home devices, 
            which includes five different types(i.e light, fan, heater, kitchen and audio). At ASH you can not only 
            add your personalized devices to the central database but also can Update each device settings according 
            to your preference.
            <br>
            Avalon Smart Home will be the all in one solution for maintaining the home devices, where you can perform
            operations like add, delete, check-status, update and much more. ASH works with the node.js javascript 
            environment so that anyone can access it through the website.
            <br>    
            Here we have one centralized MySql server to keep the device record, which consists of 12 columns (like device 
            id, device name, device type and all the other device settings). With the help of Avalon Data server anyone can 
            easily access all the information at one place.
        </p>
    </body>
</html>