<!doctype html>
<!-- HTML page for our ASH home page -->
<html> 
    <head>
        <title>This is the Avalon Smart Home</title>
    </head>
    <body>
        <h1> Avalon Smart Home </h1>
        <h3> Home page </h3>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/adddevice">Add Device</a></li>
            <li><a href="/devicestatus">Device Status</a></li>
            <li><a href="/controldevice">Control Device</a></li>
            <li><a href="/deletedevice">Delete Device</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h4> 
            Developer Name = Rishi Sankhla <br>
            Student Number = 200102874 <br>
        </h4>
    </body>
</html>